<div class="page-title">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mb-0"> Dashboard</h4>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                <li class="breadcrumb-item"><a href="index.html" class="default-color">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>
<!-- widgets -->
<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
        <div class="card card-statistics h-100">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <span class="text-danger">
                            <i class="fa fa-pie-chart highlight-icon" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="float-right text-right">
                        <div class="dash-analys-item">
                            <h4>TARGET:</h4>
                            <h6><i class="fa fa-gbp" aria-hidden="true"></i>12,000</h6>
                        </div>
                        <div class="dash-analys-item">
                            <h4>ACTUAL:</h4>
                            <h6 style="color:red;"><i class="fa fa-gbp" aria-hidden="true"></i>6,5000</h6>
                        </div>
                    </div>
                </div>
                <p class="text-muted pt-3 mb-0 mt-2 border-top dash-analys-title">
                    <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i> TEAM SALES
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
        <div class="card card-statistics h-100">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <span class="text-success">
                            <i class="fa fa-shopping-cart highlight-icon" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="float-right text-right">
                        <div class="dash-analys-item2">
                            <h3>30</h3>
                            <h6>ENQUIRIES</h6>
                        </div>
                        <div class="dash-analys-item2">
                            <h3>3</h3>
                            <h6>ENQUIRIES</h6>
                        </div>
                    </div>
                </div>
                <p class="text-muted pt-3 mb-0 mt-2 border-top dash-analys-title">
                    <i class="fa fa-bookmark-o mr-1" aria-hidden="true"></i> CONVERSION RATE
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
        <div class="card card-statistics h-100">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <span class="text-success">
                            <i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="float-right text-right">
                        <p class="card-text text-dark">Revenue</p>
                        <h4>$65656</h4>
                    </div>
                </div>
                <p class="text-muted pt-3 mb-0 mt-2 border-top dash-analys-title">
                    <i class="fa fa-calendar mr-1" aria-hidden="true"></i> BOX DATA TBC
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
        <div class="card card-statistics h-100">
            <div class="card-body">
                <div class="social-card">
                    <div class="social-card-grid">
                        <div>
                            <span class="text-primary">
                                <i class="fa fa-twitter highlight-icon" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div style="margin-left:10px;">
                            <p class="socicard-in-ptag1">23630</p>
                            <p class="socicard-in-ptag2">(+4)</p>
                        </div>
                    </div>
                    <div class="social-card-grid">
                        <div>
                            <span style="color: #0000CD">
                                <i class="fa fa-facebook-official highlight-icon" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div style="margin-left:10px;">
                            <p class="socicard-in-ptag1">25330</p>
                            <p class="socicard-in-ptag2">(+2)</p>
                        </div>
                    </div>
                </div>
                <div class="social-card">
                    <div class="social-card-grid">
                        <div>
                            <span style="color: #FF00FF;">
                                <i class="fa  fa-instagram highlight-icon" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div style="margin-left:10px;">
                            <p class="socicard-in-ptag1">7630</p>
                            <p class="socicard-in-ptag2">(+7)</p>
                        </div>
                    </div>
                    <div class="social-card-grid">
                        <div>
                            <span style="color: #C71585">
                                <i class="fa fa-youtube highlight-icon" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div style="margin-left:10px;">
                            <p class="socicard-in-ptag1">3330</p>
                            <p class="socicard-in-ptag2">(+8)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Orders Status widgets-->
<div class="row">
    <div class="col-xl-6">
        <div class="row card card-statistics h-33 mb-30">
            <div class="card-body">
                <h5 class="card-title pb-0 border-0">BOOKINGS </h5>
                <!-- action group -->
                <div class="btn-group info-drop">
                    <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="text-success ti-files"></i> Me</a>
                        <a class="dropdown-item" href="#"><i class="text-warning ti-pencil-alt"></i> Team</a>
                        <a class="dropdown-item" href="#"><i class="text-danger ti-user"></i> All</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>BOOKING DATE</th>
                                <th>REF</th>
                                <th>NAME</th>
                                <th>PAX</th>
                                <th>NEXT PAYM DUE</th>
                                <th>MARGIN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3rd Feb 2019</td>
                                <td>EST 0249</td>
                                <td>Louise Cooke</td>
                                <td>2</td>
                                <td>20/06/2020</td>
                                <td>$3549.33</td>
                            </tr>
                            <tr>
                                <td>3rd Feb 2019</td>
                                <td>EST 0249</td>
                                <td>Louise Cooke</td>
                                <td>2</td>
                                <td>20/06/2020</td>
                                <td>$3549.33</td>
                            </tr>
                            <tr>
                                <td>3rd Feb 2019</td>
                                <td>EST 0249</td>
                                <td>Louise Cooke</td>
                                <td>2</td>
                                <td>20/06/2020</td>
                                <td>$3549.33</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row card card-statistics h-33 mb-30">
            <div class="card-body">
                <h5 class="card-title pb-0 border-0">LIVE ENQUIRIES </h5>
                <!-- action group -->
                <div class="btn-group info-drop">
                    <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="text-success ti-files"></i> Me</a>
                        <a class="dropdown-item" href="#"><i class="text-warning ti-pencil-alt"></i> Team</a>
                        <a class="dropdown-item" href="#"><i class="text-danger ti-user"></i> All</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>REF</th>
                                <th>Name</th>
                                <th>GROUP</th>
                                <th>%</th>
                                <th>ASSIGNED TO</th>
                                <th>LAST UPDATED</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ENQ000036</td>
                                <td>Paul Twinn</td>
                                <td>super Bowl Lv</td>
                                <td>10%</td>
                                <td>John MeLellan</td>
                                <td>20th Feb 2020</td>
                            </tr>
                            <tr>
                                <td>ENQ000036</td>
                                <td>Paul Twinn</td>
                                <td>super Bowl Lv</td>
                                <td>10%</td>
                                <td>John MeLellan</td>
                                <td>20th Feb 2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row card card-statistics h-33 mb-30">       
            <div class="card-body">
                <h5 class="card-title pb-0 border-0">MY TASKS</h5>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>WHAT</th>
                                <th>RELATED TO</th>
                                <th>ASSIGNED TO</th>
                                <th>BY WHEN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="remember-checkbox">
                                    <input type="checkbox" class="form-control" name="one" id="one">
                                    <label for="one">Chase Africa & Beyond Refund</label>
                                </td>
                                <td>South Africa 2020</td>
                                <td>Ben Welch </td>
                                <td>2 days over</td>
                            </tr>
                            <tr>
                                <td class="remember-checkbox">
                                    <input type="checkbox" class="form-control" name="two" id="two">
                                    <label for="two">Chase Africa & Beyond Refund</label>
                                </td>
                                <td>South Africa 2020</td>
                                <td>Ben Welch </td>
                                <td>2 days over</td>
                            </tr>
                            <tr>
                                <td class="remember-checkbox">
                                    <input type="checkbox" class="form-control" name="three" id="three">
                                    <label for="three">Chase Africa & Beyond Refund</label>
                                </td>
                                <td>South Africa 2020</td>
                                <td>Ben Welch </td>
                                <td>2 days over</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-30">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-block d-md-flexx justify-content-between">
                    <div class="d-block">
                        <h5 class="card-title">SALES TARGETS</h5>
                    </div>
                    <div class="d-flex">
                        <div class="clearfix mr-30">
                            <h6 class="text-success">Income</h6>
                            <p>+584</p>
                        </div>
                        <div class="clearfix  mr-50">
                            <h6 class="text-danger"> Outcome</h6>
                            <p>-255</p>
                        </div>
                    </div>
                </div>
                <div mk-morris-js [options]="chartAreaOptions" [data]="chartAreaData" type="Area" style="height: 320px; margin-bottom: 50px;"></div>
                <div class="btn-group info-drop">
                    <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="text-success ti-files"></i> Approved</a>
                        <a class="dropdown-item" href="#"><i class="text-warning ti-pencil-alt"></i> Pending</a>
                        <a class="dropdown-item" href="#"><i class="text-danger ti-user"></i> Rejected</a>
                        <a class="dropdown-item" href="#"><i class="text-secondary ti-reload"></i> Refresh</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark first-th-sets">
                                <th>MONTH</th>
                                <th colspan="2">MY FIGURES</th>
                                <th colspan="2">TEAM</th>
                                <th colspan="2">COMPANY</th>
                            </tr>
                            <tr class="text-dark">
                                <th></th>
                                <th>TARGET</th>
                                <th>ACTUAL</th>
                                <th>TARGET</th>
                                <th>ACTUAL</th>
                                <th>TARGET</th>
                                <th>ACTUAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Apr 2019</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>$13000.00</td>
                                <td>$12000.00</td>
                                <td>$17000.00</td>
                                <td>$16000.00</td>
                            </tr>
                            <tr>
                                <td>Apr 2019</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>$13000.00</td>
                                <td>$12000.00</td>
                                <td>$17000.00</td>
                                <td>$16000.00</td>
                            </tr>
                            <tr>
                                <td>Apr 2019</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>$13000.00</td>
                                <td>$12000.00</td>
                                <td>$17000.00</td>
                                <td>$16000.00</td>
                            </tr>
                            <tr>
                                <td>Apr 2019</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>$13000.00</td>
                                <td>$12000.00</td>
                                <td>$17000.00</td>
                                <td>$16000.00</td>
                            </tr>
                            <tr>
                                <td>Apr 2019</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>$13000.00</td>
                                <td>$12000.00</td>
                                <td>$17000.00</td>
                                <td>$16000.00</td>
                            </tr>
                            <tr>
                                <td>Apr 2019</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>$13000.00</td>
                                <td>$12000.00</td>
                                <td>$17000.00</td>
                                <td>$16000.00</td>
                            </tr>
                            <tr>
                                <td>Apr 2019</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>$13000.00</td>
                                <td>$12000.00</td>
                                <td>$17000.00</td>
                                <td>$16000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
