<div class="page-title">
    <div class="row">
        <div class="col-sm-6">
            <h3 class="mb-0">Joe Blogss E0347 Super BowlLiv</h3>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                <li class="breadcrumb-item"><a routerLink="enquiriers" class="default-color">Enquiriers</a></li>
                <li class="breadcrumb-item active">E0347</li>
            </ol>
        </div>
    </div>
    <div class="row mb-30 align-top">
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-3" style="font-weight: bold;">Last Updated :</div>
                <div class="col-xl-5">29th July 2019 by Ben Wetch</div>
            </div>
            <div class="row">
                <div class="col-xl-3" style="font-weight: bold;">Allocated To :</div>
                <div class="col-xl-5">Ben Wetch</div>
            </div>
            <div class="row">
                <div class="col-xl-3" style="font-weight: bold;">Team :</div>
                <div class="col-xl-5">Elite Sports Travel</div>
            </div>
        </div>
        <div class="card card-statistics col-xl-2 p-15" style="background-color:#dcdcdc;">
            <div class="clearfix pl-50">
                <a href="" class="archive-icon"><i class="fa fa-times">Revert To Enquiry</i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="row card card-statistics h-33 mr-10">
            <div class="card-body">
                <h5 class="card-title">FINANCIAL SUMMARY </h5>
                <div class="btn-group info-drop">
                    <a class="dropdown-item" href="#" style="font-size: 13px;">View Activity Feed</a>  
                </div>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th colspan="2" style="font-size: 15px;">CONFIRMED TRANSACTIONS</th>
                                <th colspan="2"></th>
                            </tr>
                            <tr class="text-dark">
                                <th>DATE</th>
                                <th>DETAILS</th>
                                <th>RECEIPTS</th>
                                <th>PAYMENTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>17/06/2019</td>
                                <td>Initial Deposit</td>
                                <td>$1,000.00</td>
                                <td>None</td>
                            </tr>
                            <tr>
                                <td>17/06/2019</td>
                                <td>Initial Deposit</td>
                                <td>$1,000.00</td>
                                <td>None</td>
                            </tr>
                            <tr>
                                <td>17/06/2019</td>
                                <td>Initial Deposit</td>
                                <td>$1,000.00</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-dark">
                                <th colspan="2" style="text-align: right;">TOTALS:</th>
                                <th>$2,000.00</th>
                                <th>None</th>
                            </tr>
                        </tfoot>
                    </table>
                    <table class="table center-aligned-table mb-0 text-grey">
                        <thead>
                            <tr class="text-grey">
                                <th colspan="2" style="font-size: 15px;">PENDING TRANSACTIONS</th>
                                <th colspan="2"></th>
                            </tr>
                            <tr class="text-grey">
                                <th>DATE</th>
                                <th>DETAILS</th>
                                <th>RECEIPTS</th>
                                <th>PAYMENTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>17/06/2019</td>
                                <td>Initial Deposit</td>
                                <td>$1,000.00</td>
                                <td>None</td>
                            </tr>
                            <tr>
                                <td>17/06/2019</td>
                                <td>Initial Deposit</td>
                                <td>$1,000.00</td>
                                <td>None</td>
                            </tr>
                            <tr>
                                <td>17/06/2019</td>
                                <td>Initial Deposit</td>
                                <td>$1,000.00</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-grey">
                                <th colspan="2" style="text-align: right;">TOTALS:</th>
                                <th>$2,000.00</th>
                                <th>None</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row card card-statistics mb-30 mr-10">
            <div class="card-body" style="background-color:#dcdcdc; max-height: 100px;">
                <div class="align-top">
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-xl-6" style="font-weight: bold; color:grey;">ESTIMATED MARGIN :</div>
                            <div class="col-xl-5">$2,500.00</div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6" style="font-weight: bold; font-size: 15px;">ACTUAL MARGIN :</div>
                            <div class="col-xl-5">$2,440.00</div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6" style="font-weight: bold;">MARGIN % :</div>
                            <div class="col-xl-5">48%</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-xl-6" style="font-weight: bold;">MARGIN CLAIMED :</div>
                            <div class="col-xl-5">$1,000.00</div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6" style="font-weight: bold;">MARGIN REMAINING :</div>
                            <div class="col-xl-5">$1,400.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card card-statistics mb-30 mr-10">
            <div class="card-body">
                <h5 class="card-title">HOLIDAY DETAILS </h5>
                <div class="btn-group info-drop">
                    <a class="dropdown-item" href="#" style="font-size: 13px;">Edit Detail</a>  
                </div>
                <div class="align-top">
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-xl-5" style="font-weight: bold;">HOTEL NAME :</div>
                            <div class="col-xl-5">Beacon hotel</div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5" style="font-weight: bold;">HOTEL SUPPLIER :</div>
                            <div class="col-xl-5">Sluba</div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5" style="font-weight: bold;">TECKET DETAILS :</div>
                            <div class="col-xl-5">Block 305, Row 76, Seat 45</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-xl-5" style="font-weight: bold;">FLIGHT CARRIER :</div>
                            <div class="col-xl-5">Virgin Atlantic</div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5" style="font-weight: bold;">FLIGHT REF :</div>
                            <div class="col-xl-5">jobie@bloggs.com</div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5" style="font-weight: bold;">OUTBOUND DEP :</div>
                            <div class="col-xl-5">02/02/2020 12:45</div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5" style="font-weight: bold;">OUTBOUND ARR :</div>
                            <div class="col-xl-5">02/02/2020 12:45</div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5" style="font-weight: bold;">INBOUND DEP :</div>
                            <div class="col-xl-5">02/02/2020 12:45</div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5" style="font-weight: bold;">INBOUND ARR :</div>
                            <div class="col-xl-5">02/02/2020 12:45</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <h5>QUOTATIONATOL CERTIFICATE DESCRIPTION</h5>
                        <p>
                            This is a description for enquiriement.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-30">
        <div class="row card card-statistics h-20 mb-30">
            <div class="card-body">
                <h5 class="card-title">BOOKING TASKS </h5>
                <div class="btn-group info-drop">
                    <a class="dropdown-item" href="#" style="font-size: 13px;">View Archive</a>  
                </div>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>WHAT</th>
                                <th>RELATED TO</th>
                                <th>ASSIGNED TO</th>
                                <th>BY WHEN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="remember-checkbox">
                                    <input type="checkbox" class="form-control" name="one" id="one">
                                    <label for="one">Chase Africa & Beyond Refund</label>
                                </td>
                                <td>South Africa 2020</td>
                                <td>Ben Welch </td>
                                <td>2 days over</td>
                            </tr>
                            <tr>
                                <td class="remember-checkbox">
                                    <input type="checkbox" class="form-control" name="two" id="two">
                                    <label for="two">Chase Africa & Beyond Refund</label>
                                </td>
                                <td>South Africa 2020</td>
                                <td>Ben Welch </td>
                                <td>2 days over</td>
                            </tr>
                            <tr>
                                <td class="remember-checkbox">
                                    <input type="checkbox" class="form-control" name="three" id="three">
                                    <label for="three">Chase Africa & Beyond Refund</label>
                                </td>
                                <td>South Africa 2020</td>
                                <td>Ben Welch </td>
                                <td>2 days over</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row card card-statistics h-20 mb-30">
            <div class="card-body">
                <h5 class="card-title">PASSENGER INFO </h5>
                <div class="btn-group info-drop">
                    <a class="dropdown-item" href="#" style="font-size: 13px;">Add New Pax</a>  
                </div>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>NAME</th>
                                <th>DATE OF BIRTH</th>
                                <th>FLIGHT INCLUSIVE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Joe Bloggs</td>
                                <td>03/09/1987</td>
                                <td>yes</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2"></th>
                                <td>
                                    <p>TOTAL PAX: 2</p>
                                    <p>ATOL PAX: 2</p>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row card card-statistics h-40 mb-30">       
            <div class="card-body">
                <h5 class="card-title">DOCUMENTS</h5>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>DOC TYPE</th>
                                <th>FILE NAME</th>
                                <th>VERSION</th>
                                <th>UPLOADED</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Supplier Invoice</td>
                                <td>Elite Sports Travel.doc</td>
                                <td>1</td>
                                <td>21/09/1010</td>
                            </tr>
                            <tr>
                                <td>Supplier Invoice</td>
                                <td>Elite Sports Travel.doc</td>
                                <td>1</td>
                                <td>21/09/1010</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>