<div class="page-title">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mb-0"> Contacts</h4>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                <li class="breadcrumb-item"><a href="/contacts" class="default-color">Home</a></li>
                <li class="breadcrumb-item active">Contacts</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 mb-30">
        <div class="card card-statistics h-100">
            <div class="card-body">
                <div class="clearfix">
                    <form>
                        <div class="row">
                            <div class="col-xl-7 col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label" style="font-weight: bold;">ALLOCATED TO :</label>
                                    <div class="col-sm-9">
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                            <option selected>Me</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label" style="font-weight: bold;">MAIL OPT IN :</label>
                                    <div class="col-sm-9">
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                            <option selected>Both</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label" style="font-weight: bold;">CUSTOMER :</label>
                                    <div class="col-sm-9">
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                            <option selected>Both</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-weight: bold;">INTERESTS :</label>
                                    <div class="col-sm-10">
                                        <div class="form-group row">
                                            <div class="form-check samewidth ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> NFL
                                                </label>
                                            </div>
                                            <div class="form-check samewidth ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Football
                                                </label>
                                            </div>
                                            <div class="form-check samewidth ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> F1
                                                </label>
                                            </div>
                                            <div class="form-check samewidth ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Olympic
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="form-check samewidth ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Cricket
                                                </label>
                                            </div>
                                            <div class="form-check samewidth ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Tennis
                                                </label>
                                            </div>
                                            <div class="form-check samewidth ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Rugby
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 mb-10">
        <div class="card card-statistics h-100">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>CONTACT NAME</th>
                                <th>EMAIL ADDRESS</th>
                                <th>INTERESTS</th>
                                <th>MAIL OPT IN</th>
                                <th>CUSTOMER</th>
                                <th>BOOKINGS</th>
                                <th>LIVE BOOKINGS</th>
                                <th>LIFE TIME SPEND</th>
                                <th>LIFE TIME MARGIN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a routerLink="/contacts/{{id}}">Joe Blogss</a></td>
                                <td>joe@bloggs.com</td>
                                <td>NFL, Cricket</td>
                                <td>yes</td>
                                <td>yes</td>
                                <td>1</td>
                                <td>0</td>
                                <td>$292,088.00</td>
                                <td>$257,099.00</td>
                            </tr>
                            <tr>
                                <td><a routerLink="/contacts/{{id}}">Joe Blogss</a></td>
                                <td>joe@bloggs.com</td>
                                <td>NFL, Cricket</td>
                                <td>yes</td>
                                <td>yes</td>
                                <td>1</td>
                                <td>0</td>
                                <td>$292,088.00</td>
                                <td>$257,099.00</td>
                            </tr>
                            <tr>
                                <td><a routerLink="/contacts/{{id}}">Joe Blogss</a></td>
                                <td>joe@bloggs.com</td>
                                <td>NFL, Cricket</td>
                                <td>yes</td>
                                <td>yes</td>
                                <td>1</td>
                                <td>0</td>
                                <td>$292,088.00</td>
                                <td>$257,099.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th><a href="#">COPY ADDRESS</a></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>3</th>
                                <th>0</th>
                                <th>$876,264.00</th>
                                <th>$771,297.00</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 float-right text-right mb-30">
        <a class="button button-border black icon large" href="#">DOWNLOAD RESULT .XLSX</a>
    </div>
</div>
