<div class="page-title">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mb-0"> On Location Events</h4>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                <li class="breadcrumb-item"><a href="/suppliers" class="default-color">Suppliers</a></li>
                <li class="breadcrumb-item active">On Location Events</li>
            </ol>
        </div>
    </div>
    <div class="row mb-30">
        <div class="col-xl-12">
            <div class="row align-center">
                <div class="col-xl-2 col-lg-6 col-md-12 align-center">
                    <div>Live Orders :</div>
                    <div>3</div>
                </div>
            </div>
            <div class="row align-center">
                <div class="col-xl-2 col-lg-6 col-md-12 align-center">
                    <div>Total Orders :</div>
                    <div>16</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="row card card-statistics h-33 mr-10">
            <div class="card-body">
                <h5 class="card-title">ORDERS </h5>
                <div class="btn-group info-drop">
                    <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="text-success ti-files"></i> Live Orders</a>
                        <a class="dropdown-item" href="#"><i class="text-danger ti-user"></i> All</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>ORDER DATE</th>
                                <th>BOOKING & Name</th>
                                <th>GROUP</th>
                                <th>BALANCE DUE</th>
                                <th>LOCAL CURR</th>
                                <th>GBP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3rd Feb 2019</td>
                                <td>EST0233 Louise Cooke</td>
                                <td>super Bowl LIv</td>
                                <td>20/06/2020</td>
                                <td>$5,000.00</td>
                                <td>£3,459.83</td>
                            </tr>
                            <tr>
                                <td>3rd Feb 2019</td>
                                <td>EST0233 Louise Cooke</td>
                                <td>super Bowl LIv</td>
                                <td>20/06/2020</td>
                                <td>$5,000.00</td>
                                <td>£3,459.83</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-dark">
                                <th colspan="4" style="text-align: right;">TOTAL:</th>
                                <th>$10,000.00</th>
                                <th>£6,919.66</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="row card card-statistics h-33 mr-10">
            <div class="card-body">
                <h5 class="card-title">ACTIVITY </h5>
                <div class="btn-group info-drop">
                    <a class="dropdown-item" href="#" style="font-size: 13px;">View Activity Feed</a>  
                </div>
                <div style="max-height: 300px; overflow-y: scroll;">
                  <ul class="list-unstyled">
                    <li class="mb-15">
                      <div class="media">
                        <div class="position-relative">
                          <img class="img-fluid mr-15 avatar-small" src="assets/images/team/norway.jpg" alt="">
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0">Martin smith <small class="float-right">6 days ago</small></h6>
                          <p>Create tailor-cut websites with the exclusive</p>
                        </div>
                      </div>
                      <div class="divider mt-15"></div>
                    </li>
                    <li class="mb-15">
                      <div class="media">
                        <div class="position-relative clearfix">
                          <img class="img-fluid mr-15 avatar-small" src="assets/images/team/norway.jpg" alt="">
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0">Martin smith <small class="float-right">6 days ago</small></h6>
                          <p>Create tailor-cut websites with the exclusive</p>
                          <div class="mt-10 clearfix">
                            <a class="dropdown-item" href="#"><i class="text-success ti-file"> Booking form.pdf</i></a>
                          </div>
                        </div>
                      </div>
                      <div class="divider mt-15"></div>
                    </li>
                    <li class="mb-15">
                      <div class="media">
                        <div class="position-relative">
                          <img class="img-fluid mr-15 avatar-small" src="assets/images/team/norway.jpg" alt="">
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0">Martin smith <small class="float-right">1 days ago</small></h6>
                          <p>Short note......</p>
                          <p>Create tailor-cut websites with the exclusive</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="row card card-statistics h-33 mb-30 mr-10">
            <div class="card-body" style="background-color:#dcdcdc;">
                <div class="scrollbar max-h-220">
                <ul class="list-unstyled">
                    <li class="mb-15">
                    <div class="media">
                        <div class="position-relative">
                        <img class="img-fluid mr-15 avatar-small" src="assets/images/team/norway.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="bg-light mt-20">
                                <textarea class="form-control"></textarea>
                            </div>
                            <div class="mt-10 clearfix align-center">
                                <a class="dropdown-item" href="#"><i class="text-success ti-file"> Upload File</i></a>
                                <a class="btn btn-success small" style="color: white;">Add Note</a>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-30">
        <div class="row card card-statistics h-33 mb-30 mr-10">       
            <div class="card-body">
                <h5 class="card-title pb-0 border-0">SUPPLIER TASKS</h5>
                <div class="btn-group info-drop">
                    <a class="dropdown-item" href="#" style="font-size: 13px;">View Archive</a>  
                </div>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>WHAT</th>
                                <th>RELATED TO</th>
                                <th>ASSIGNED TO</th>
                                <th>BY WHEN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="remember-checkbox">
                                    <input type="checkbox" class="form-control" name="one" id="one">
                                    <label for="one">Chase Africa & Beyond Refund</label>
                                </td>
                                <td>South Africa 2020</td>
                                <td>Ben Welch </td>
                                <td>2 days over</td>
                            </tr>
                            <tr>
                                <td class="remember-checkbox">
                                    <input type="checkbox" class="form-control" name="two" id="two">
                                    <label for="two">Chase Africa & Beyond Refund</label>
                                </td>
                                <td>South Africa 2020</td>
                                <td>Ben Welch </td>
                                <td>2 days over</td>
                            </tr>
                            <tr>
                                <td class="remember-checkbox">
                                    <input type="checkbox" class="form-control" name="three" id="three">
                                    <label for="three">Chase Africa & Beyond Refund</label>
                                </td>
                                <td>South Africa 2020</td>
                                <td>Ben Welch </td>
                                <td>2 days over</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row card card-statistics h-40 mb-30">       
            <div class="card-body">
                <h5 class="card-title">DOCUMENTS</h5>
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>DOC TYPE</th>
                                <th>FILE NAME</th>
                                <th>VERSION</th>
                                <th>UPLOADED</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Supplier Invoice</td>
                                <td>Elite Sports Travel.doc</td>
                                <td>1</td>
                                <td>21/09/1010</td>
                            </tr>
                            <tr>
                                <td>Supplier Invoice</td>
                                <td>Elite Sports Travel.doc</td>
                                <td>1</td>
                                <td>21/09/1010</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>