<div class="page-title">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mb-0"> Suppliers</h4>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                <li class="breadcrumb-item"><a href="/" class="default-color">Home</a></li>
                <li class="breadcrumb-item active">Suppliers</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 mb-10">
        <div class="card card-statistics h-100">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th>SUPPLIER</th>
                                <th>LIVE BOOKINGS</th>
                                <th>YEARS SPEND</th>
                                <th>TOTAL SPEND</th>
                                <th>LAST UPDATED</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a routerLink="/suppliers/{{id}}">On Location Events</a></td>
                                <td>16</td>
                                <td>$120,89.00</td>
                                <td>$53,089.00</td>
                                <td>27/08/2019</td>
                            </tr>
                            <tr>
                                <td><a routerLink="/suppliers/{{id}}">Faremine</a></td>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td>12/06/2019</td>
                            </tr>
                            <tr>
                                <td><a routerLink="/suppliers/{{id}}">On Location Events</a></td>
                                <td>16</td>
                                <td>$120,89.00</td>
                                <td>$53,089.00</td>
                                <td>27/08/2019</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 float-right text-right mb-30">
        <a class="button button-border black icon large" href="#">RESULTS CSV</a>
    </div>
</div>
