.samewidth{
    min-width: 80px;;
}
.align-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.align-top{
    display: flex;
    justify-content: space-between;
}